@media screen and (max-width: 878px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin: 0;
    }
    

    h1 {
        font-size: 2.5rem;
    }

    #home {
        flex-direction: column;
        height: fit-content;
        padding: 20px;
        font-size: 20px;
    }
    #home .text {
        margin: 0;
    }
    .text .text-con {
        margin-top: 2rem;
        gap: 0;
    }
    .text .icon {
        margin-top: 8px;
    }
    
    #about {
        height:fit-content;
        /* margin-top: 5rem; */
        font-size: 14px;
        padding: 20px;
    }
    .con-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .con-about .img img {
        margin: 0;
        margin-top: 20px;
        height: 22em;
    }
    .con-box {
        justify-content: center;
        margin-top: 28px;
        text-align: justify;
    }
    #experience {
        height: 42.5rem;
    }
    #experience .con-box {
        justify-content: center;
        gap: 25px;
    }
    .box-experience {
        width: 20em;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 12px;
    }
    .box-experience h2 {
        padding: 0;
    }
    #projects {
        height: 127rem;
    }

}


@media screen and (max-width: 680px) {
    .container {
        width: 100vw;
        margin: auto;
    }
    .nav-menu {
        display: none;
    }
    #experience {
        margin-bottom: 20rem;
    }
    #projects {
        height: 111rem;
    }
    #contact {
        font-size: 13px;
    }
}

@media screen and (max-width: 728px) {
    #experience {
        height: fit-content;
        margin: 0;
    }
    #experience .con-box {
        flex-direction: column;
    }
    #projects {
        margin-top: 5rem;
    }
    .box-experience {
        width: 26em;
        gap: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 515px) {
    #about {
        height: fit-content;
        font-size: 13.5px;
    }
    #experience {
        height: fit-content;
        margin: 0;
    }
    #projects {
        /* margin-top: 5rem; */
        height: 90rem;
    }
    #contact {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }
    #contact .box-contact {
        padding: 10px 30px;
    }
    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 490px) {
    #experience {
        /* height: 90rem; */
    }
    .box-experience {
        width: 20em;
    }
    .box-experience h2 {
        font-size: 1.2rem;
    }
    .box-project {
        font-size: 18px;
    }
}

@media screen and (max-width: 455px) {
    #about {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    #home {
        font-size: 18px;
        padding: 10px;
    }
    .btn-cv {
        padding: 8px 18px;
    }
    .btn-con {
        padding: 8px 18px;
    }
    .box-experience {
        padding: 10px 5px 10px 5px;
        width: 15rem;
    }
    .box-project {
        font-size: 11px;
    }
}