@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');

:root {
    --primary-dark: #1c1c1c;
    --primary-semi: #5a5a5a;
    --primary-light: #f2f2f2;
    --poppins-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-light);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2, h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h4, h5 {
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.red {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 928px;
    margin: auto;
}

.header {
    width: 100%;
    background-color: var(--primary-light);
    /* position: fixed; */
}

.nav {
    height: 78px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-left: 5px;
    color: var(--primary-dark);
}

.logo {
    font-weight: 528;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.nav-item a {
    font-size: 1.2rem;

}

h1, h2, p {
    font-family: var(--poppins-font);
    margin: 0;
    padding: 0;
}

.nav i {
    font-size: 28px;
    color: var(--primary-dark);
    margin-right: 10px;
    padding-bottom: 13px;
}

#home {
    display: flex;
    /* background-color: rgb(182, 182, 182); */
    flex-direction: row;
    width: 29em;
    font-size: 24px;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
}

.img img {
    width: 12.5em;
    height: 12.5em;
}

.btns {
    display: flex;
}

.btn-cv {
    font-family: 'Poppins';
    color: var(--primary-dark);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    border-style: none;
    border: 2px solid var(--primary-dark);
    font-weight: 600;
    margin-bottom: 0;
    font-size: 0.5em;
}

.btn-con {
    font-family: 'Poppins';
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 70px;
    border-style: none;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 0.5em;
}

.text {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-con p, h1, h2 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.text-con p {
    font-weight: 400;
    font-size: 0.6em;
}

.text-con h1 {
    font-weight: 550;
    color: var(--primary-dark);
    font-size: 2em;
}

.text-con h2 {
    font-weight: 600;
    color: var(--primary-semi);
    font-size: 1em;
}

.text .icon a {
    color: var(--primary-dark);
    font-size: 1.2em;
    margin: 5px;
    margin-top: 0;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#about p {
    color: var(--primary-semi);
    font-size: 1em;
}

.con-about {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.con-about .img img {
    width: 21.25em;
    height: 24em;
    border-radius: 25px;
    margin-right: 50px;   
    margin-top: 40px;
}

.con-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.con-box p, center {
    color: var(--primary-semi);
    font-size: 1em;
}

.box-expe {
    width: 15.6em;
    height: 10em;
    border: 2px solid var(--primary-semi);
    border-radius: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-expe i {
    font-size: 1.85em;
}

.box-edu {
    width: 15.6em;
    height: 10em;
    border: 2px solid var(--primary-semi);
    border-radius: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-edu i {
    font-size: 1.85em;
}

#experience {
    /* background-color: red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.con-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.box-experience {
    width: 48%;
    height: 330px;
    border: 2px solid var(--primary-semi);
    border-radius: 25px;
    flex: 1;
    align-items: center;
    padding: 1rem;
}

.box-experience h2 {
    color: var(--primary-semi);
    font-size: 28px;
    padding: 1rem;
}

.box-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: right;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-item {
    width: 160px;
    height: 60px;
    /* border: 1px solid var(--primary-semi); */
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 0;
    padding: 0;

}

.box-item img {
    width: 32px;
    height: 32px;
}

.box-item h4 {
    font-size: 15px;
    color: var(--primary-semi);
}

/* project section */
#projects {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#projects .container {
    display: flex;
    height: 100vh;
    /* padding-top: 25px; */
    /* background-color: red; */
    justify-content: space-around;
    flex-wrap: wrap;

}

.box-project {
    border: 2px solid var(--primary-semi);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    /* gap: 10px; */
    padding: 5px 30px 20px 30px;
    margin-top: 30px;
}

.box-project img {
    width: 380px;
    height: 300px;
    border-radius: 25px;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 0 6px var(--primary-semi);
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}



