@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap');

:root {
    --primary-dark: #1c1c1c;
    --primary-semi: #5a5a5a;
    --primary-light: #f2f2f2;
    --poppins-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-light);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.red {
    background-color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 928px;
    margin: auto;
}

.header {
    width: 100%;
    background-color: var(--primary-light);
}

.nav {
    height: 78px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-left: 5px;
    color: var(--primary-dark);
}

.logo {
    font-weight: 528;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.nav-item a {
    font-size: 1.2rem;

}

h1, h2, p {
    font-family: var(--poppins-font);
    margin: 0;
    padding: 0;
}

.nav i {
    font-size: 28px;
    color: var(--primary-dark);
    margin-right: 10px;
    padding-bottom: 13px;
}

#home {
    display: flex;
    /* background-color: rgb(182, 182, 182); */
    width: 700px;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
}

.img img {
    width: 300px;
    height: 300px;
}

.btns {
    display: flex;
}

.btn-cv {
    font-family: 'Poppins';
    color: var(--primary-dark);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    border-style: none;
    border: 2px solid var(--primary-dark);
    font-weight: 600;
    margin-bottom: 0;
}

.btn-con {
    font-family: 'Poppins';
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 70px;
    border-style: none;
    font-weight: 600;
    margin-bottom: 0;
}

.text {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .text-con p, h1, h2 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
} */

.text-con p {
    font-weight: 400;
    font-size: 0.9rem;
}

.text-con h1 {
    font-weight: 550;
    color: var(--primary-dark);
}

.text-con h2 {
    font-weight: 600;
    color: var(--primary-semi);
}

.text .icon a {
    color: var(--primary-dark);
    font-size: 1.8rem;
    margin: 5px;
    margin-top: 0;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about p {
    color: var(--primary-semi);
}

.con-about {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.con-about .img img {
    width: 340px;
    height: 400px;
    border-radius: 25px;
    margin-right: 50px;   
    margin-top: 20px;
}

.con-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.con-box p, center {
    color: var(--primary-semi);
}

.box-expe {
    width: 250px;
    height: 160px;
    border: 2px solid var(--primary-semi);
    border-radius: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-expe i {
    font-size: 30px;
}

.box-edu {
    width: 250px;
    height: 160px;
    border: 2px solid var(--primary-semi);
    border-radius: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-edu i {
    font-size: 30px;
}